ion-avatar{
    width: 100%;
    max-width: 200px;
    height: auto;
    max-height: 200px;
    margin: 0 auto;
    --border-radius:20px;
}

.img-flecha-down {
    width: 100%;
    max-width: 30px;
    max-height: 30px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.episode-title {
    color: white; /* Cambia el color a blanco */
  }